*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/con4/nbproject/private/
/software/con4/nbproject/private/

# Temporary LaTeX files
*.aux
*.log
*.out
*.pdf
*.toc

# Saved Games
*.dat

/software/con4/dist/
/software/con4/build/
